# compiled python sources
*.pyc
*.pyo

# python modules
*.egg
.eggs

# editor backups
*~
\#*\#
.*.swp
*.bak

# eclipse project files
/.project
/.pydevproject
/.settings

# PyCharm
/.idea
venv/*

# tox testing
.tox/
.cache/

# setuptools
/MANIFEST
/dist
/build
/barman.egg-info

# OSX
.DS_Store

# pyenv
.python-version

# Sphinx docs
new_docs/_build
new_docs/modules
