# compiled python sources
*.pyc
*.pyo

# Translations
*.mo
*.pot

# python modules
*.egg
.eggs

# editor backups
*~
\#*\#
.*.swp

# eclipse project files
/.project
/.pydevproject
/.settings

# PyCharm
/.idea
# vscode
/.vscode

# pyenv file
.python-version

# tox testing
.tox/
.cache/

# setuptools
/MANIFEST
/dist
/build
/barman.egg-info

# OSX
.DS_Store
