# compiled python sources
*.pyc
*.pyo

# python modules
/*.egg

# editor backups
*~
\#*\#
.*.swp

# eclipse project files
/.project
/.pydevproject
/.settings

# tox testing
.tox

# setuptools
/MANIFEST
/dist
/build
/barman.egg-info
/*.egg/

# OSX
.DS_Store
