recursive-include barman *.py
recursive-include rpm *
recursive-include scripts *.bash_completion
include doc/barman.1 doc/barman.5 doc/barman.conf
include AUTHORS NEWS ChangeLog LICENSE PKG-INFO MANIFEST.in MANIFEST setup.py INSTALL README
