recursive-include barman *.py
recursive-include rpm *
recursive-include new_docs/barman.d *
include new_docs/barman.conf
include scripts/barman.bash_completion
include AUTHORS NEWS ChangeLog LICENSE MANIFEST.in setup.py INSTALL README.rst
