recursive-include barman *.py
recursive-include rpm *
recursive-include doc *.md
include doc/Makefile doc/barman.1 doc/barman.5 doc/barman.conf
include scripts/barman-wal-restore scripts/barman.bash_completion
include AUTHORS NEWS ChangeLog LICENSE MANIFEST.in setup.py INSTALL README
